In [7]:
# Creating tuple
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [23]:
tuple2 = (10,20,30,50,10,70,15,10.5)
print(tuple2.count(20))
print(tuple2.index(50))

1
3

In [15]:
tup1= (10,20,30,50,10,70,15,10.5)
print(type(tup1))

<class 'tuple'>

In [25]:
tuple3 = (10,20,30,50,10,70,15,10.5,"Alice","IT","Prague")

In [27]:
tuple3

(10, 20, 30, 50, 10, 70, 15, 10.5, 'Alice', 'IT', 'Prague')

In [29]:
tuple3[5]

70

In [49]:
tuple3[::-1]

('Prague', 'IT', 'Alice', 10.5, 15, 70, 10, 50, 30, 20, 10)

In [35]:
tuple3[0]

10

In [37]:
tuple3[1]

20

In [39]:
tuple3[5]

70

In [43]:
tuple3[3:10]

(50, 10, 70, 15, 10.5, 'Alice', 'IT')

In [51]:
import pandas as pd

In [55]:
df = pd.read_csv('C:/Python Data/Mall_Customers.csv')

In [57]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [59]:
print(df)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
245         246    Male   30                 297                      69
246         247  Female   56                 311                      14
247         248    Male   29                 313                      90
248         249  Female   19                 316                      32
249         250  Female   31                 325                      86

[250 rows x 5 columns]

In [61]:
df['Age']

0      19
1      21
2      20
3      23
4      31
       ..
245    30
246    56
247    29
248    19
249    31
Name: Age, Length: 250, dtype: int64

In [67]:
df['Age'][10:50]

10    67
11    35
12    58
13    24
14    37
15    22
16    35
17    20
18    52
19    35
20    35
21    25
22    46
23    31
24    54
25    29
26    45
27    35
28    40
29    23
30    60
31    21
32    53
33    18
34    49
35    21
36    42
37    30
38    36
39    20
40    65
41    24
42    48
43    31
44    49
45    24
46    50
47    27
48    29
49    31
Name: Age, dtype: int64

In [69]:
student = [("Abhay","AT001",4.5),("Alice","AL002",4.0)]

In [71]:
tuple2

(10, 20, 30, 50, 10, 70, 15, 10.5)

In [73]:
tuple4 = (10,17,25)
result = tuple2 + tuple4

In [75]:
result

(10, 20, 30, 50, 10, 70, 15, 10.5, 10, 17, 25)

In [77]:
tuple4 = result

In [79]:
tuple4

(10, 20, 30, 50, 10, 70, 15, 10.5, 10, 17, 25)

In [81]:
tuple4[2]

30

In [83]:
tuple4[2]=300

TypeError: 'tuple' object does not support item assignment

In [85]:
list4= list(tuple4)

In [87]:
list4

[10, 20, 30, 50, 10, 70, 15, 10.5, 10, 17, 25]

In [89]:
list4[2]

30

In [93]:
list4[2]=3000

In [95]:
list4

[10, 20, 3000, 50, 10, 70, 15, 10.5, 10, 17, 25]

In [97]:
tuple4 = tuple(list4)
tuple4

(10, 20, 3000, 50, 10, 70, 15, 10.5, 10, 17, 25)

In [99]:
# Example: Storing daily closing stock prices for a week
stock_prices = [150.25, 152.30, 149.80, 151.00, 153.75]
stock_prices

[150.25, 152.3, 149.8, 151.0, 153.75]

In [101]:
# Average = total sum of elements/ count of elements
average_price = sum(stock_prices)/len(stock_prices)

In [107]:
print(f'Average Price of stocks for one week : ${round(average_price,2)}')

Average Price of stocks for one week : $151.42

In [109]:
import builtins

In [111]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [115]:
highest_price = max(stock_prices)
lowest_price = min(stock_prices)

print("Maximum stock Price: $",highest_price)
print("Minimum stock Price: $",lowest_price)

Maximum stock Price: $ 153.75
Minimum stock Price: $ 149.8

In [125]:
dict1 = {
    "Customer ID": [1,2,3,4,5],
    "Gender": ["F","M","F","F","M"],
    "Age":[20,30,19,35,25],
    "Annual Income($k)": [30,37,50,27,90],
    "Spending Score": [39,40,10,20,25]
}

In [127]:
dict1

{'Customer ID': [1, 2, 3, 4, 5],
 'Gender': ['F', 'M', 'F', 'F', 'M'],
 'Age': [20, 30, 19, 35, 25],
 'Annual Income($k)': [30, 37, 50, 27, 90],
 'Spending Score': [39, 40, 10, 20, 25]}

In [129]:
dict1['Customer ID']

[1, 2, 3, 4, 5]

In [131]:
dict1['Spending Score']

[39, 40, 10, 20, 25]

In [133]:
dict1['Spending Score'][1]=30

In [135]:
dict1['Spending Score']

[39, 30, 10, 20, 25]

In [137]:
dict1.keys()

dict_keys(['Customer ID', 'Gender', 'Age', 'Annual Income($k)', 'Spending Score'])

In [139]:
dict1.values()

dict_values([[1, 2, 3, 4, 5], ['F', 'M', 'F', 'F', 'M'], [20, 30, 19, 35, 25], [30, 37, 50, 27, 90], [39, 30, 10, 20, 25]])

In [141]:
df = pd.DataFrame(dict1)

In [143]:
print(df)

   Customer ID Gender  Age  Annual Income($k)  Spending Score
0            1      F   20                 30              39
1            2      M   30                 37              30
2            3      F   19                 50              10
3            4      F   35                 27              20
4            5      M   25                 90              25

In [145]:
print(dict1.items())

dict_items([('Customer ID', [1, 2, 3, 4, 5]), ('Gender', ['F', 'M', 'F', 'F', 'M']), ('Age', [20, 30, 19, 35, 25]), ('Annual Income($k)', [30, 37, 50, 27, 90]), ('Spending Score', [39, 30, 10, 20, 25])])

In [147]:
dict1

{'Customer ID': [1, 2, 3, 4, 5],
 'Gender': ['F', 'M', 'F', 'F', 'M'],
 'Age': [20, 30, 19, 35, 25],
 'Annual Income($k)': [30, 37, 50, 27, 90],
 'Spending Score': [39, 30, 10, 20, 25]}

In [153]:
# Conditional statement
if "Gender" in dict1:
    print("Yes attribute available")
else:
    print("Not Found")

Not Found

In [155]:
tuple4

(10, 20, 3000, 50, 10, 70, 15, 10.5, 10, 17, 25)

In [159]:
list5 = list(tuple4)

In [169]:
list5

[10, 20, 3000, 50, 10, 70, 15, 10.5, 10, 17, 25]

In [171]:
set1 = set(list5)

TypeError: 'set' object is not callable

In [165]:
set1

NameError: name 'set1' is not defined